{%- set metaTitle -%}
    {%- if not title -%}{{ site.title }} - {{ site.description | safe }}
    {%- else -%}{{ title | safe }} | {{ site.title }}
    {%- endif -%}
{%- endset -%}
{%- set metaDesc -%}
    {%- if not description -%}{{ site.description | safe }}
    {%- else -%}{{ description | safe }}
    {%- endif -%}
{%- endset -%}
{%- set metaKeywords -%}
    {%- if tags -%}{%- for tag in tags -%}{{ tag }},{%- endfor -%}{%- endif -%}
    {%- if site.keywords -%}
        {%- for keyword in site.keywords -%}
            {{ keyword }}{%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endset -%}
<!DOCTYPE html>
<html>
    
<head>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(94323314, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/94323314" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metaTitle }}</title>
    <meta name="title" content="{{ metaTitle }}">
    <meta name="description" content="{{ metaDesc }}">
    <meta name="keywords" content="{{ metaKeywords }}">
    <meta name="author" content="{{ author.name }}">
    <meta name="robots" content="index, follow">
    <meta name="google-adsense-account" content="ca-pub-3052573429608359">
    <link rel="canonical" href="{{ site.url | url }}{{ page.url }}">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | url }}">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
</head>	

<body class="flex flex-col h-screen bg-white text-slate-800 break-words">
    {% include "partials/header.njk" %}
    <main class="flex mx-4 lg:mx-4 mt-32">
        {% if layout === "post" %}
        {{ content | safe }}
        {% else %}
        <div class="max-w-5xl mx-auto">
            {{ content | safe }}
        </div>
        {% endif %}
    </main>
    {% include "partials/footer.njk" %}
    <script src="{{ '/assets/js/bundle.js' | url }}"></script>
</body>

</html>