---
layout: default
title: Libro de cielo y buscador
permalink: "Libro-de-cielo-y-buscador/index.html"
---

<h1 class="text-3xl leading-normal font-bold mt-0 mb-7 text-center">{{ title }}</h1>
<div class="flex justify-center flex-wrap">
    Libro de Cielo y buscador por frase lo puedes encontrar aquí

  Link del buscador: https://tercetfiat.github.io/libroCielo

  Directo a el libro de cielo: https://tercetfiat.github.io/tomosLibroCielo

  Página de Facebook: https://www.facebook.com/profile.php?id=100090502880298


 </div>