---
layout: default
title: Libro de cielo y buscador
permalink: "Libro-de-cielo-y-buscador/index.html"
---

<h1 class="text-3xl font-bold text-center mb-7">{{ title }}</h1>  <!-- Removed leading-normal, added margin-bottom -->

<div class="flex flex-col items-center text-center"> <div>Buscador del Libro de Cielo:</div>
  <!-- Changed to flex-col for vertical layout, items-center for centering -->
  <p class="mb-4">Libro de Cielo y buscador por frase lo puedes encontrar aquí.</p>  <!-- Added margin-bottom -->
  <a class="block mb-4" href="https://tercetfiat.github.io/libroCielo"><b>Ir a Buscador Libro de cielo</b></a> <!-- block for full width, margin-bottom -->
  <a class="block " href="https://www.facebook.com/profile.php?id=100090502880298"><b>Ir a Página de Facebook</b></a>   <!-- block for full width -->

</div>