---
permalink: "/index.json"
---
[
    {% for post in collections.posts %}
    {
        "title": "{{ post.data.title }}",
        "templateContent": "{{ post.templateContent | striptags  }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
]